html,
body {
  margin: 0px;
}
@media screen and (max-width: 391px) /*iphone 12 pro*/ {
  header {
    display: flex;
    z-index: 100;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    background-color: #d8e8dd;
    position: fixed;
    top: 0px;
    width: 100vw;
  }
  .header {
    padding-left: 10px;
    padding-right: 10px;
  }
  .logo {
    flex-grow: 2;
    margin-left: 10px;
    width: 100px;
  }
  #logo {
    height: 37px;
    margin-left: 100px;
    padding-top: 30px;
  }
  /*content*/
  .content {
    position: relative;
    top: 30px;
    padding-left: 10px;
    padding-top: 10px;
  }
  .checkout {
    text-align: center;
    font-size: 50px;
    color: #6c8875;
    position: relative;
    top: -30px;
  }
  h6 {
    color: #7aad8c;
    font-size: 20px;
    line-height: 35px;
  }

  a {
    text-decoration: none;
  }
  h1 {
    font-size: 50px;
  }

  /*content*/
  .content {
    position: relative;
    top: 170px;
  }
  .checkout {
    text-align: center;
    font-size: 50px;
    color: #6c8875;
  }
  h6 {
    color: #6c8875;
    font-size: 19px;
    line-height: 19px;
  }

  .back {
    position: fixed;
    margin-top: -120px;
    left: 10px;
    z-index: 100;
    margin-left: 0vw;
  }
  a {
    text-decoration: none;
  }
  .form {
    height: fit-content;
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    position: relative;
    top: 30px;
    margin-left: 20px;
    margin-right: 20px;
  }
  input {
    border-width: 0px;
    background-color: #d8e8dd;
  }
  .name {
    width: 320px;
  }
  .other {
    width: 320px;
    justify-content: center;
  }
  #name {
    width: 154px;
    height: 30px;
  }
  #surname {
    width: 154px;
    height: 30px;
  }
  #street {
    width: 320px;
    height: 30px;
    margin-bottom: 10px;
  }
  #city {
    width: 320px;
    height: 30px;
    margin-bottom: 10px;
  }
  #email {
    width: 320px;
    height: 30px;
    margin-bottom: 10px;
  }
  button {
    width: 600px;
    height: 70px;
    justify-self: center;
    margin-left: 150px;
    margin-right: 150px;
    background-color: #d8e8dd;
    border-width: 0px;
    color: white;
    font-size: 50px;
    font-family: "Times New Roman", Times, serif;
  }

  /*footer*/
  footer {
    background-color: #d8e8dd;
    height: 91px;
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    color: white;
    position: relative;
    top: 440px;
  }

  #regionIcon {
    width: 35px;
    margin-left: 20px;
    margin-right: 5px;
  }
  #instagramIcon {
    width: 35px;
    margin-left: 75px;
    margin-right: 5px;
  }
  #mailIcon {
    width: 35px;
    margin-right: 5px;
  }
  h8 {
    font-size: 20px;
  }
}

/*FOR COMPUTER*/
@media screen and (min-width: 391px) /*computer*/ {
  header {
    display: flex;
    z-index: 100;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    background-color: #d8e8dd;
    position: fixed;
    top: 0px;
    width: 100vw;
  }
  .header {
    padding-left: 10px;
    padding-right: 10px;
  }
  .logo {
    flex-grow: 2;
    margin-top: 0px;
  }
  #logo {
    width: 114px;
    margin-left: 50px;
  }
  /*content*/
  .content {
    position: relative;
    top: 130px;
    height: fit-content;
    margin-bottom: 150px;
  }
  .checkout {
    text-align: center;
    font-size: 80px;
    color: #6c8875;
  }
  h6 {
    color: #6c8875;
    font-size: 35px;
    line-height: 35px;
  }
  h1 {
    font-size: 100px;
  }
  .back {
    position: fixed;
    margin-top: -130px;
    left: 0px;
    z-index: 100;
    margin-left: 0vw;
  }
  a {
    text-decoration: none;
  }
  .form {
    height: fit-content;
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    position: relative;
    top: 50px;
    margin-left: 20px;
    margin-right: 20px;
  }
  input {
    border-width: 0px;

    background-color: #d8e8dd;
  }
  .name {
    width: 620px;
  }
  .other {
    width: 620px;
    justify-content: center;
  }
  #name {
    width: 300px;
    height: 63px;
  }
  #surname {
    width: 300px;
    height: 63px;
  }
  #street {
    width: 610px;
    height: 63px;
    margin-bottom: 10px;
  }
  #city {
    width: 610px;
    height: 63px;
    margin-bottom: 10px;
  }
  #email {
    width: 610px;
    height: 63px;
    margin-bottom: 10px;
  }
  button {
    width: 350px;
    height: 70px;
    justify-self: center;
    margin-left: 150px;
    margin-right: 150px;
    background-color: #d8e8dd;
    border-width: 0px;
    color: white;
    font-size: 50px;
    font-family: "Times New Roman", Times, serif;
  }
  /*FOOTER*/
  footer {
    background-color: #d8e8dd;
    height: 91px;
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    color: white;
    position: relative;
    bottom: -70px;
  }

  #regionIcon {
    width: 60px;
    margin-left: 100px;
    margin-right: 10px;
  }
  #instagramIcon {
    width: 60px;
    padding-left: 660px;
  }
  #mailIcon {
    width: 60px;
    margin-right: 5px;
    margin-left: 10px;
  }
  h7 {
    font-size: 20px;
  }
  h8 {
    font-size: 25px;
  }
}
