html,
body {
  margin: 0px;
}
@media screen and (max-width: 391px) /*iphone 12 pro*/ {
  header {
    display: flex;
    z-index: 100;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    background-color: #d8e8dd;
    position: fixed;
    top: 0px;
    width: 100vw;
  }
  .header {
    padding-left: 10px;
    padding-right: 10px;
  }
  .logo {
    flex-grow: 2;
    margin-left: 10px;
    width: 100px;
  }
  #logo {
    height: 37px;
    margin-left: 20px;
    padding-top: 20px;
  }
  #hamburgerMenuIcon {
    width: 50px;
    margin: 2px;
    align-self: center;
    margin-left: 10px;
  }
  #profileIcon {
    width: 25px;
  }
  #likedIcon {
    width: 25px;
  }
  #shoppingBagIcon {
    width: 25px;

    margin-right: 10px;
  }

  /*MENU*/
  .menu {
    height: 785px;
    width: 100vw;
    margin: 0px;
    margin-top: 80px;
    background-color: #d8e8dd;
    position: absolute;
    overflow: hidden;
    color: #6c8875;
    line-height: 35px;
    z-index: 10000;
    display: none;
  }
  .menulist {
    padding-left: 50px;
    list-style-type: none;
  }
  li:hover {
    background-color: #6c8875;
    color: white;
  }

  h3 {
    font-size: 24px;
    text-align: center;
  }
  h3:hover {
    background-color: #6c8875;
    color: white;
  }
  h4 {
    font-size: 20px;
  }
  /* shopping bag*/
  .shoppingBag {
    width: 100vw;
    height: 600px;
    border-bottom-left-radius: 19px;
    border-bottom-right-radius: 19px;
    background-color: #b8cabe;
    position: absolute;
    top: 80px;
    right: 0px;
    position: fixed;
    z-index: 500;
    display: none;
  }
  .chosenItem {
    display: flex;
    flex-wrap: wrap;
  }

  #chosenItem {
    width: 60px;
    height: 90px;
    margin-left: 33px;
    margin-top: 26px;
  }
  .chosenItemText {
    padding-top: 26px;
    padding-left: 15px;
    width: 230px;
  }
  h11 {
    font-size: 28px;
    font-weight: bold;
    color: #6c8875;
  }
  h12 {
    font-size: 22px;
    line-height: 24px;
    color: #6c8875;
  }
  .quantitySmall {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: center;
    width: 100px;
    height: 40px;
    border-width: 1px;
    border-color: white;
    border-style: solid;

    position: absolute;
    top: 92px;
    left: 220px;
  }
  #minus {
    width: 24px;
  }
  #plus {
    width: 24px;
  }
  h13 {
    font-size: 24px;
    font-weight: bold;
    color: #6c8875;
  }
  .total {
    position: absolute;
    left: 54px;
    bottom: 104px;
  }
  .checkout {
    position: absolute;
    left: 80px;
    bottom: 15px;
    text-align: center;
    border-width: 4px;
    border-color: white;
    border-style: solid;
    height: 60px;
    width: 220px;
  }
  h14 {
    font-size: 25px;
    font-weight: bold;
    padding-top: 30px;
    line-height: 55px;
    color: white;
  }
  footer {
    background-color: #d8e8dd;
    height: 91px;
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    color: white;
  }

  #regionIcon {
    width: 35px;
    margin-left: 20px;
    margin-right: 5px;
  }
  #instagramIcon {
    width: 35px;
    margin-left: 75px;
    margin-right: 5px;
  }
  #mailIcon {
    width: 35px;
    margin-right: 5px;
  }
  h8 {
    font-size: 20px;
  }
  footer {
    background-color: #d8e8dd;
    height: 91px;
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    color: white;
  }
}

/*FOR COMPUTER*/
@media screen and (min-width: 391px) /*computer*/ {
  header {
    display: flex;
    z-index: 100;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    background-color: #d8e8dd;
    position: fixed;
    top: 0px;
    width: 100vw;
  }
  .header {
    padding-left: 10px;
    padding-right: 10px;
  }
  .logo {
    flex-grow: 2;
  }
  #logo {
    width: 114px;
    margin-left: 50px;
  }
  #hamburgerMenuIcon {
    width: 50px;
    margin: 2px;
    align-self: center;
    margin-left: 10px;
    display: none;
  }
  #profileIcon {
    width: 35px;
  }
  #likedIcon {
    width: 35px;
  }
  #shoppingBagIcon {
    width: 35px;
    margin-right: 20px;
  }

  /*MENU*/
  .menu {
    width: 20vw;
    height: 600px;
    margin-top: 60px;
    background-color: #d8e8dd;
    position: absolute;
    overflow: hidden;
    color: #6c8875;
    line-height: 20px;
    z-index: 99;
    position: fixed;
    top: 0px;
  }
  #serumOnClick {
    background-color: #6c8875;
    color: white;
  }
  .menulist {
    padding-left: 50px;
    list-style-type: none;
  }
  li:hover {
    background-color: #6c8875;
    color: white;
  }

  h3 {
    font-size: 24px;
    text-align: center;
  }
  h3:hover {
    background-color: #6c8875;
    color: white;
  }
  h4 {
    font-size: 20px;
  }
  .content {
    overflow-y: scroll;
    margin-right: 0px;
    width: 80vw;
    height: fit-content;
    overflow: hidden;
    margin-left: 20vw;
    margin-top: 79px;
  }
  .back {
    position: fixed;
    margin-top: -30px;
    left: 35px;
    z-index: 100;
    margin-left: 20vw;
    display: flex;
    gap: 15px;
  }
  a {
    text-decoration: none;
  }
  h6 {
    color: #6c8875;
    font-size: 25px;
    line-height: 35px;
  }

  .chosenSerumGrid {
    display: grid;
    grid-template-columns: 45vw 35vw;
    grid-template-rows: fit-content;
    grid-template-areas: "image information";
  }
  .bigImage {
    grid-area: image;
    background-color: white;
  }

  .serumItemsImages {
    width: 461px;
    height: 543px;
    overflow: hidden;
    /*the following 2 lines was inspired from https://www.w3schools.com/css/css3_object-fit.asp to make the img proportional*/
    object-fit: cover;
    object-position: 20% 100%;
    position: relative;
    top: 25px;
    left: 60px;
  }
  .informationFlex {
    grid-area: information;
    margin-right: 29px;
    color: #6c8875;
    padding-top: 20px;
  }
  h21 {
    font-size: 20px;
  }
  .sameline {
    display: flex;
    gap: 10px;
  }
  .add {
    width: 270px;
    font-size: 24px;
    font-family: "Times New Roman", Times, serif;
    color: white;
    background-color: #b8cabe;
    font-weight: bold;
    border-width: 0px;
    z-index: 10;
  }

  .itemName {
    height: fit-content;
  }
  h15 {
    font-size: 36px;
  }
  h16 {
    font-size: 24px;
  }
  h17 {
    font-size: 16px;
  }
  h19 {
    font-size: 50px;
  }

  .quantityBig {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: center;
    width: 138px;
    height: 42px;

    background-color: #b8cabe;
  }
  #minusbig {
    width: 39px;
  }
  #plusbig {
    width: 39px;
  }
  h20 {
    font-size: 33px;
    color: white;
  }
  /* shopping bag*/
  .shoppingBag {
    width: 291px;
    height: 400px;
    border-radius: 19px;
    background-color: #b8cabe;
    position: absolute;
    top: 70px;
    right: 0px;
    position: fixed;
    display: none;
    z-index: 500;
  }
  .chosenItem {
    display: flex;
    flex-wrap: wrap;
  }

  #chosenItem {
    width: 60px;
    height: 90px;
    margin-left: 33px;
    margin-top: 26px;
  }
  .chosenItemText {
    padding-top: 26px;
    padding-left: 15px;
    width: 161px;
  }
  h11 {
    font-size: 19px;
    font-weight: bold;
    color: #6c8875;
  }
  h12 {
    font-size: 15px;
    line-height: 24px;
    color: #6c8875;
  }
  .quantitySmall {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: center;
    width: 67px;
    height: 20px;
    border-width: 1px;
    border-color: white;
    border-style: solid;

    position: absolute;
    top: 92px;
    left: 180px;
  }
  #minus {
    width: 18px;
  }
  #plus {
    width: 18px;
  }
  h13 {
    font-size: 14px;
    font-weight: bold;
    color: #6c8875;
  }
  .total {
    position: absolute;
    left: 54px;
    bottom: 84px;
  }
  .checkout {
    position: absolute;
    left: 54px;
    bottom: 15px;
    text-align: center;
    border-width: 4px;
    border-color: white;
    border-style: solid;
    height: 44px;
    width: 183px;
  }
  h14 {
    font-size: 20px;
    font-weight: bold;
    padding-top: 30px;
    line-height: 43px;
    color: white;
  }
  /*FOOTER*/
  footer {
    background-color: #d8e8dd;
    height: 91px;
    width: 80vw;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    color: white;
    margin-left: 20vw;
  }

  #regionIcon {
    width: 60px;
    margin-left: 20px;
    margin-right: 10px;
  }
  #instagramIcon {
    width: 60px;
    padding-left: 580px;
  }
  #mailIcon {
    width: 60px;
    margin-right: 5px;
    margin-left: 10px;
  }
  h7 {
    font-size: 20px;
  }
  h8 {
    font-size: 25px;
  }
}
