html,
body {
  margin: 0px;
}
@media screen and (max-width: 391px) /*iphone 12 pro*/ {
  header {
    display: flex;
    z-index: 100;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    height: 95;
    background-color: #d8e8dd;
    position: fixed;
    top: 0px;
    width: 100vw;
  }
  .header {
    padding-left: 10px;
    padding-right: 10px;
  }
  .logo {
    flex-grow: 2;
    text-align: center;

    align-self: flex-end;
  }
  #hamburgerMenuIcon {
    width: 50px;
    margin: 2px;
    align-self: center;
    margin-left: 10px;
  }
  #profileIcon {
    width: 25px;
  }
  #likedIcon {
    width: 25px;
  }
  #shoppingBagIcon {
    width: 25px;

    margin-right: 10px;
  }

  /*MENU*/
  .menu {
    height: 785px;
    width: 100vw;
    margin: 0px;
    margin-top: 80px;
    background-color: #d8e8dd;
    position: absolute;
    overflow: hidden;
    color: #6c8875;
    line-height: 35px;
    z-index: 90;
    display: none;
  }
  .menulist {
    padding-left: 50px;
    list-style-type: none;
  }
  li:hover {
    background-color: #6c8875;
    color: white;
  }

  h3 {
    font-size: 24px;
    text-align: center;
  }
  h3:hover {
    background-color: #6c8875;
    color: white;
  }
  h4 {
    font-size: 20px;
  }

  /*LAYOUT MAIN PAGE*/
  .contentMainPage {
    overflow-y: scroll;
  }
  .content1 /*top big image*/ {
    width: 100vw;
    height: 300px;
    overflow: hidden;
  }
  #topImage {
    width: 110vw;
    position: relative;
    bottom: 110px;
  }

  .content2 /*quote*/ {
    height: 150px;
    color: #6c8875;
    text-align: center;
    text-justify: center;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 20px;
  }

  .content3 /*featured products*/ {
    height: 223px;
    width: 100vw;
    background-color: #d8e8dd;
    padding-top: 30px;
    color: white;
  }
  .featuredProductsTitle {
    margin: 0px;
  }
  .featuredProductsImages {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-left: 25px;
    padding-right: 25px;
    height: 128px;
  }
  h6 {
    font-size: 30px;
    text-align: center;
  }

  .content4 /*advertisement section*/ {
    height: 344px;
    width: 100vw;
    background-color: aqua;
  }

  footer {
    background-color: #d8e8dd;
    height: 91px;
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    color: white;
  }

  #regionIcon {
    width: 35px;
    margin-left: 20px;
    margin-right: 5px;
  }
  #instagramIcon {
    width: 35px;
    margin-left: 75px;
    margin-right: 5px;
  }
  #mailIcon {
    width: 35px;
    margin-right: 5px;
  }
  h8 {
    font-size: 20px;
  }
}

/*FOR COMPUTER*/
@media screen and (min-width: 391px) /*computer*/ {
  header {
    display: flex;
    z-index: 100;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    height: 120;
    background-color: #d8e8dd;
    position: fixed;
    top: 0px;
    width: 100vw;
  }
  .header {
    padding-left: 10px;
    padding-right: 10px;
  }
  .logo {
    flex-grow: 2;
    text-align: left;
    align-self: flex-end;
    margin-left: 50px;
  }
  #hamburgerMenuIcon {
    width: 50px;
    margin: 2px;
    align-self: center;
    margin-left: 10px;
    display: none;
  }
  #profileIcon {
    width: 35px;
  }
  #likedIcon {
    width: 35px;
  }
  #shoppingBagIcon {
    width: 35px;
    margin-right: 20px;
  }

  /*MENU*/
  .menu {
    width: 20vw;
    height: 600px;
    margin-top: 60px;
    background-color: #d8e8dd;
    position: absolute;
    overflow: hidden;
    color: #6c8875;
    line-height: 20px;
    z-index: 99;
    position: fixed;
    top: 0px;
  }
  .menulist {
    padding-left: 50px;
    list-style-type: none;
  }
  li:hover {
    background-color: #6c8875;
    color: white;
  }

  h3 {
    font-size: 24px;
    text-align: center;
  }
  h3:hover {
    background-color: #6c8875;
    color: white;
  }
  h4 {
    font-size: 20px;
  }

  /*CONTENT MAIN PAGE*/
  .contentMainPage {
    margin-right: 0px;
  }

  .content1 /*top big image*/ {
    width: 80vw;
    height: 450px;
    overflow: hidden;
    margin-left: 20vw;
  }
  #topImage {
    width: 80vw;
    position: relative;
    bottom: 270px;
  }

  .content2 /*quote*/ {
    height: 300px;

    width: fit-content;
    color: #6c8875;
    text-align: center;
    text-justify: center;
    padding-left: 60px;
    padding-right: 60px;
    padding-top: 20px;
    margin-left: 20vw;
  }
  h5 {
    font-size: 30px;
  }

  .content3 /*featured products*/ {
    height: 389px;
    width: 80vw;
    background-color: #d8e8dd;
    padding-top: 30px;
    color: white;
    margin-left: 20vw;
  }
  .featuredProductsTitle {
    margin: 0px;
    font-size: 50px;
  }
  .featuredProductsImages {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-left: 25px;
    padding-right: 25px;
    height: 128px;
  }
  h6 {
    font-size: 30px;
    text-align: center;
  }

  .content4 /*advertisement section*/ {
    height: 920px;
    display: flex;
    flex-wrap: wrap;
    background-color: aqua;
    margin-left: 20vw;
    width: 80vw;
  }
  .seasonalItem1 {
    width: 40vw;
    height: 460px;
    background-color: #cadbcf;
    align-items: center;
    text-align: center;
  }

  h9 {
    font-size: 80px;
    position: relative;
    top: 90px;
  }
  .readMoreButton {
    position: relative;
    top: 130px;
    background-color: #b8cabe;
    width: 232px;
    height: 65px;
  }
  h10 {
    font-size: 32px;
    text-align: center;
    text-justify: center;
  }
  .seasonalItem2 {
    width: 40vw;
    height: 460px;
    background-color: rgb(143, 99, 43);
  }
  .seasonalItem3 {
    width: 40vw;
    height: 460px;
    background-color: rgb(45, 183, 178);
  }
  .seasonalItem4 {
    width: 40vw;
    height: 460px;
    background-color: rgb(36, 202, 36);
  }

  footer {
    background-color: #d8e8dd;
    height: 91px;
    width: 80vw;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    color: white;
    margin-left: 20vw;
  }

  #regionIcon {
    width: 60px;
    margin-left: 20px;
    margin-right: 10px;
  }
  #instagramIcon {
    width: 60px;
    padding-left: 580px;
  }
  #mailIcon {
    width: 60px;
    margin-right: 5px;
    margin-left: 10px;
  }
  h7 {
    font-size: 20px;
  }
  h8 {
    font-size: 25px;
  }
}
