@media screen and (max-width: 391px) {
  header {
    display: flex;
    gap: 0 px;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    height: 95;
    background-color: #d8e8dd;
    position: sticky;
    width: 100vw;
  }
  .header {
    margin-left: 10px;
    margin-right: 10px;
  }
  .logo {
    flex-grow: 2;
    text-align: center;

    align-self: flex-end;
  }
  #hamburgerMenuIcon {
    width: 50px;
    margin: 2px;
    align-self: center;
    margin-left: 10px;
  }
  #profileIcon {
    width: 25px;
    margin: 5px;
  }
  #likedIcon {
    width: 25px;
    margin: 5px;
  }
  #shoppingBagIcon {
    width: 25px;
    margin: 5px;
    margin-right: 10px;
  }
}
.menu {
  height: 749px;
  width: 100vw;
  margin: 0px;
  background-color: #d8e8dd;
  position: absolute;
  overflow: hidden;
}
h3 {
  font-size: 24px;
}
h4 {
  font-size: 20px;
}
